<mat-toolbar>
  <mat-toolbar-row class="header">
    Создание проекта
    <div class="col button">
      <button mat-stroked-button color="warn" (click)="goToExplore()" class="exit-button">
        Отменить и вернуться
        <mat-icon>dangerous</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-vertical-stepper [formGroup]="formGroup">
    <mat-step>
      <ng-template matStepLabel>Название</ng-template>
      <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="formGroup.controls['title'].hasError('required')">
          Заполните это поле
        </mat-error>
        <mat-error *ngIf="formGroup.controls['title'].hasError('maxlength')">
          Максимальная длина - {{formGroup.controls['title']?.errors?.['maxlength']?.requiredLength}}
        </mat-error>
      </mat-form-field>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Описание</ng-template>
      <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Описание</mat-label>
        <input matInput placeholder="Description" formControlName="description">
        <mat-error *ngIf="formGroup.controls['description'].hasError('required')">
          Заполните это поле
        </mat-error>
        <mat-error *ngIf="formGroup.controls['description'].hasError('maxlength')">
          Максимальная длина - {{formGroup.controls['description']?.errors?.['maxlength']?.requiredLength}}
        </mat-error>
      </mat-form-field>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Настройки</ng-template>
      <div class="flex-space">
        <mat-form-field appearance="fill">
          <mat-label>Тип проекта</mat-label>
          <mat-select formControlName="style">
            <mat-option [value]="0">--</mat-option>
            <mat-option *ngFor="let style of projectStyles" [value]="style.val">
              {{style.label}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['style'].hasError('required')">Select Project Style</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Видимость</mat-label>
          <mat-select formControlName="visibility">
            <mat-option [value]="ProjectVisibilityType.Unknown">--</mat-option>
            <mat-option [value]="ProjectVisibilityType.Visible">
              Открытый
              <mat-hint>Виден всем</mat-hint>
            </mat-option>
            <mat-option [value]="ProjectVisibilityType.Private">
              Приватный
              <mat-hint>Виден только участникам</mat-hint>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['visibility'].hasError('required')">Select Project Visibility</mat-error>
        </mat-form-field>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <button mat-stroked-button color="primary" type="submit" [disabled]="isFormSent" (click)="onSubmit()" class="button-center">
          <span *ngIf="!isFormSent">Сохранить</span>
          <mat-progress-spinner diameter="15" mode="indeterminate" strokeWidth="11%" *ngIf="isFormSent" class="spinner">
          </mat-progress-spinner>
        </button>
      </ng-template>
    </mat-step>
  </mat-vertical-stepper>
</div>
