.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-image: url('~src/assets/bg.jpg');
}

.inputs {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.button-center {
  display: flex;
  justify-content: center;
}

.spinner {
  margin: 10px;
}
